// Colors

$primaryColor950: #1f294c;
$primaryColor900: #374275;
$primaryColor700: #3757be;
$primaryColor400: #75a4e5;
$primaryColor100: #e0eaf9;
$accentColor500: #fe7911;
$accentColor400: #ff9838;
$accentColor200: #ffe5c2;
$neutralColor950: #282828;
$neutralColor600: #515151;
$neutralColor500: #9a9a9a;
$neutralColor300: #dadada;
$neutralColor0: #ffffff;
$systemColorError: #f04e02;
$systemColorLink: #5484dd;

// Others variables

$mainTransitionDuration: 250ms;
$mainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFontFamily: 'Manrope', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;
